## Project Specific
media
.secrets.toml
config.toml

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.ignore.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.venv
.env 
