## Project Specific
media
.secrets.toml
config.toml

*.ignore.*

### Python ###
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.venv
.env 
.vim.dml
