
body.dark-mode {
    background-color: #222;
    color: #fff;
}

.dark-mode .container {
    background-color: #6528F7;
    border: 1px solid #555;
}

.dark-mode .list-item {
    background-color: #A076F9;
}

.dark-mode .header {
  background: #002b36;
}

.dark-mode h1 {
    color: #fff;
}

.dark-mode .form-fields-group {
    background-color: #444;
    color: #fff;
}

.dark-mode .form-fields-group h2 {
    color: #fff;
}

.dark-mode .label {
    color: #aaa;
}

.dark-mode input {
    background-color: #555;
    color: #fff;
    border: 1px solid #888;
}

.dark-mode .button:hover {
    background-color: #777;
}


.dark-mode input:checked + .slider {
  background-color: #336;
}


.dark-mode input:focus + .slider {
  box-shadow: 0 0 1px #2126F3;
}

.dark-mode a {
    color: #fff;
}
