{% extends 'header.html' %}

{% block head %} 
<title>The Nettle Index</title>
{% endblock %} 

{%block title%}The Nettle Index{%endblock title%}

{% block body %}
<div style="text-align: center; margin: 20px;">
  <a href="{{ url_for('new_entry') }}" class="add-button">➕ Add New Entry</a>
</div>

<div class="forum-container">
  {% for entry in entries %}
  <div class="entry">
    <div class="entry-body">
      <div class="entry-text">
        <div class="entry-title">
          <a href="/entry/{{ entry.id }}">{{ entry.name }}</a>
        </div>
        <div class="entry-meta">
          Posted by <strong>{{ entry.owner }}</strong> on {{ entry.time_added | pretty_time }}
        </div>
        <div class="entry-content">
          {{ entry.description }}
        </div>
      </div>
      {% if entry.image_url %}
      <div class="entry-image">
        <img src="{{ entry.image_url }}" alt="Image for {{ entry.name }}">
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
